.container {
    display: flex;
    flex-direction:row ;
  }
  
  .column1 {
    width: 100%;
    background-color: rgb(255, 255, 255);
    width: 375px;
    height: 850px;
    border: 1px solid #cccccc; /* Agrega un borde al cuadro si lo deseas */


  }
  .sonrisa{
    padding-left: 60px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 250px; /* Ajusta el ancho del cuadro según tus necesidades */
    height: 200px; /* Ajusta la altura del cuadro según tus necesidades */
    border: 1px solid #ffffff; /* Agrega un borde al cuadro si lo deseas */

  }
.home{
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.explore{
    align-items: center;
    flex-direction: column;
   text-align: center;
   font-size: 30px;
}
.notification{
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.messages{
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.bookmarks{
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.lists{
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.profile{
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.more{
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.chisme{
 

background-color: rgb(209, 52, 162);
width: 155px;
height: 65px;
border: 2px solid rgb(238, 60, 185); /* Agrega un borde al cuadro si lo deseas */
font-size: 10px;

}
.column2{
    width: 100%;
    background-color: rgb(255, 255, 255);
    width: 375px;
    height: 850px;
    border: 1px solid #cccccc; /* Agrega un borde al cuadro si lo deseas */
}